header{
    background: #E5E5E5;
    text-align: center;

}

h1{
    background-color: #C4C4C4;
    color: #005677;
    text-align: center;
    
}

h2{
    background-color: #C4C4C4;
    color:#005677;
    
}
span{
    font-weight: bold;
}

.bloqueCentrado{
    width: 1041px;
    height: 107px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background:#005677;
    color: white;
    text-align: center;        
}

