
/* estilos generales*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* header */
.apartado{
    background: #1CD1B0;
    color: #000000;
    Height:38px;    
}

header{
    background: #00669F;
    color: #000000;
    height: 101px;
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0px;
    
}

/* main */

main{
    display: flex;    
    justify-content: space-around;
    align-items: center;
}

.card{
    text-align: center;
    margin:20px;
    max-width: 700px;
    border-radius: 16px 16px 0px 0px;
    background: #F3F3F3;
    
}

.imagen{
    max-width: 700px;
    width: 100%;
    position: relative;
}


.imagen img{
    width: 100%;
    height: 193px;
    border-radius: 16px 16px 0px 0px;
}

.texto{
    font-size: 16px;
    padding: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}


h2{
    margin: 40px 10px 10px 10px;
    font-size: 30px;
}

.texto img{
    width: 122px;
    height: 122px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: 80px;
}
.corazon{
    color: #CC2424;
    position: absolute;
    left: 15px;    
    top:10px;
    Width: 30px;
    Height: 27px;
}

input{
    background: #00669F;
    padding: 25px;
    width: 128.78px;
    margin: 30px;
    height: 48.52px;
    color: #ffff;
    text-align: center;
}



/* footer */

footer{
    background: #00669F;
    color: #FFF9F9;
    height: 51px;
    padding: 16px;
}