/* header */

.banner{
    background-color: #ECE2D7;
    background-image: url("../img/DSC_1372.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -460px;
    background-size:cover;
    height: 500px;
       
}


/* main */

body{
    margin: 0;
    background-color: #ECE2D7;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

.bloqueCentrado{ 
    margin: auto;
    width: 40%;      
}

.bloqueCentrado section{
    margin: 20px;
    padding: 10px 20px;
}

section h2{
    border-bottom-width:3px; 
    border-bottom-style: solid;
    border-bottom-color: #7F7F7F;
    margin: 5px 0 10px 0;
    padding-bottom: 10px;
    text-align: center;
}

.nav{
    display: inline-block;
    color: black;
    background-color: #ECE2D7;
    padding:10px 30px;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #7F7F7F;
    padding: 10px 10px;
}

h1{
    color:#FCFCFC;
    text-align: center;
    padding: 30px;
    
}

h2{
    color: black;
}

h3{
    text-align: center;
}

span{
    font-weight: bold;
}

.estilo span{
    font-style: italic;
}

dl{
    margin-left: 40px;    
}
dd{
    margin-left: 40px;
}

.fotoPersonal{
    text-align: center;
    margin: 100px;
    height: 480px;
    width: 310px;
}

/* footer */

.iconoInsta{
    color: #000000;
    font-size: 20px;
    background-color:#ECE2D7;
    padding: 5px;
}

.iconoFace{
    color: #000000;
    font-size: 20px;
    background-color: #ECE2D7;
    padding: 5px;
}

.iconoGit{
    color: #000000;
    font-size: 20px;
    background-color:#ECE2D7;
    padding: 5px;
}


/* sobre mí */

.central{
    width: 560px;    
    margin-left: auto;
    margin-right: auto;    
    max-width: 70%;
}

.central p{
    font-size: 18px;
}
